.main {
  width: 100%;
  height: 100%;
  background-color: #343434;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_content {
  color: #343434;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}

.content_uploader {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 16px;
  border: 2px solid #eee;
  transition: border 0.1s ease-in;
  color: #eee;
}

.content_uploader:hover {
  border: 2px solid #6700e6;
}

.content_workspace {
  display: flex;
  height: 100%;
  gap: 8px;
}

.workspace_tree {
  max-width: 140px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px;

  border-radius: 16px;
  border: 2px solid #eee;
  transition: color 0.1s ease-in;
  color: #eee;

  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;

  li {
    list-style-type: none;
    padding-top: 8px;
  }
}

.workspace_tree span:hover {
  color: #8567fe;
  cursor: pointer;
}

.workspace_editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.editor_tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  padding-bottom: 8px;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
}

.tab_bar {
  display: flex;
  gap: 2px;
}

.tab {
  min-width: 60px;
  max-width: 120px;
  flex-shrink: 0;
  height: 28px;
  background-color: #565656;
  padding: 0px 4px;
  border-radius: 8px;
  font-size: 14px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  display: flex;
  justify-content: space-between;
}

.active {
  background-color: #222;
  border: 2px solid #8567fe;
  display: flex;
  align-items: center;
  gap: 4px;
}

.active::after {
  content: "X";
  color: #f55;
  font-size: 12px;
  font-weight: bold;
}

.downloader {
  height: 28px;
  background-color: #eee;
  color: #f55;
  font-weight: bold;
  padding: 0px 4px;
  border-radius: 8px 0px 8px 0px;
}

.editor_view {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.view_null {
  width: 100%;
  height: 100%;
  color: #eee;
  border: 2px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #565656;
}
